
@mixin on-scales($item-count, $item-size) {
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    top: 50%;
    left: 50%;
    margin: -($item-size / 2);
    width: $item-size;
    height: $item-size;
    padding: 12%;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        @if ($i % 2 == 0) {
          transform: translatex($item-size + 1);
        }
      }
    }
  }
}
// Using the mixin


html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imag {
  height: 100%;
  width: 100%;
  position: fixed;
}

.titan {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  flex-direction: row;
}


