.background-container {
  border: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  z-index: -100;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #0b0574, #18258f, #233fab, #2f5ac5, #3d75e0);
  opacity: 0.6;
}

.imageGround-container {
  border: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  z-index: -101;
  background-size: cover;
  background-position: center;
}

.backContainer{
  border: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  z-index: -103;
}

.home-container {
  border: 0;
  padding: 0;
  width: 35% !important;
  height: 100% !important;
  position: fixed;
  z-index: -99;
  background-color:#ffffff
}

.imagesContainer {
  height: 120%;
  width: 53%;
  position: fixed;
  float: right;
  margin-left: 51.6%;
  margin-top: -2%;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1) rotate(-10deg);
  z-index:-101;
}