.background-container {
  border: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  z-index: -100;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #0b0574, #18258f, #233fab, #2f5ac5, #3d75e0);
}

.home-container {
  border: 0;
  padding: 0;
  height: 100% !important;
  z-index: -99;
  background-color:#ffffff;
  animation: slide-out 1s forwards;
}

@keyframes slide-out {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}